p{
	text-align: justify;
}

.colaboraciones_container{
	width: 50%;
	height: 100%;
	margin: 1%;
}

.contacto_form_container{
	margin: 0 auto;
}

.contacto_global_link, .politica_privacidad_link{
	color: var(--orange);
	text-decoration: none;
}

.enviar_button{
	background-color: var(--orange);
    color: #ffffff;
    border: none;
    padding: 5px 5px;
    text-decoration: none;
    min-width: 20%;
    margin: 0 0 0 40%;
    font-family: inherit;
    font-size: inherit;
}

form li + li {
    margin-top: 1em;
}

input,textarea{
	border: 1px solid #dddddd;
	height: 32px;
	min-height: 22px;
	width: 220px;
}

input[type="text"],input[type="email"],textarea {
	padding: 4px 6px;
	font-size: 16px;
    margin: 0 auto;
}

input[type="checkbox"]{
    width: auto;
    min-height: 10px;
    height: 0;
    margin: 0 auto;
}

input:invalid {
    padding: 4px 6px;
    border: 1px solid var(--orange);
    background: #f2dede;
}

label {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 2% 0 0 2%; 
}

#mensaje{
	min-height: 150px;
}

#privacy_policy_label{
    text-align: left;
}
select {
    border-color: #dddddd;
    height: 32px;
    min-height: 22px;
	width: 220px;
    font-family: inherit;
    font-size: inherit;
    padding-left: 2%;
}

.support_contact_container{
	width: 50%;
	height: 100%;
	margin: 1%;
}

textarea{
	overflow: auto;
    vertical-align: top;
}

@media (max-width: 768px){

    .colaboraciones_container{
        width: 100%;
    }

    .contacto_form_container{
        text-align: center;
    }

    label {
        text-align: center;
        width: 100%;
    }

    .main_info_container{
        flex-direction: column;
    }
    
    .support_contact_container{
        width: 100%;
    }
}