@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src:  local('Montserrat Light'), local('Montserrat-Light'), 
        url(../fonts/montserrat-light.woff2) format('woff2'),  
        url(../fonts/montserrat-light.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
    
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src:  local('Montserrat Regular'), local('Montserrat-Regular'), 
        url(../fonts/montserrat-regular.woff2) format('woff2'),  
        url(../Tfonts/montserrat-regular.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src:  local('Montserrat SemiBold'), local('Montserrat-SemiBold'), 
        url(../fonts/montserrat-semi.woff2) format('woff2'),  
        url(../fonts/montserrat-semi.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src:  local('Montserrat Bold'), local('Montserrat-Bold'), 
        url(../fonts/montserrat-bold.woff2) format('woff2'),  
        url(../fonts/montserrat-bold.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Overlock';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src:  local('Overlock Italic'), local('Overlock-Italic'), 
        url(../fonts/overlock-italic.woff2) format('woff2'),  
        url(../fonts/overlock-italic.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Overlock';
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src:  local('Overlock Bold Italic'), local('Overlock-BoldItalic'),
        url(../fonts/overlock-italic-bold.woff2) format('woff2'), 
        url(../fonts/overlock-italic-bold.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
